@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif !important;
}

nav {
  z-index: 2;
}

nav a.nav-link {
  letter-spacing: 1px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 10px;
  color: #fff !important;
  border-top: none;
}

.navbar-brand {
  padding: 0;
  color: #fff !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  border-top: 2px solid rebeccapurple;
}

/* Header */

.header-styles {
  background: url(space-header.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
  position: relative;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

/* @media (max-width: 768px) {
  .main-info h1 {
    font-size: 2rem !important;
  }
} */

.main-info h1 {
  color: white;
  text-transform: uppercase;
}

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;
}

@media (max-width: 768px) {
  .particles {
    display: none;
  }
}

.profile-photo {
  width: 20rem;
  padding: 0.3rem;
  border-radius: 50%;
}

.about-me-header {
  text-transform: uppercase;
  color: rebeccapurple;
}

.photo-styles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.portfolio-photo {
  width: 20rem;
  /* border: 1px solid rebeccapurple; */
  padding: 0 8px;
}

.portfolio-photo-box {
  position: relative;
  margin: 10px;
}

.portfolio-icon {
  position: absolute;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 3.5rem;
  color: yellow;
  font-size: 1.5rem;
}

.portfolio-photo-box:hover .portfolio-icon {
  opacity: 100%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

@media (max-width: 768px) {
  .photo-popup {
    width: 100% !important;
  }
}
@media (max-height: 600px) {
  .popupbox-wrapper {
    height: 100% !important;
  }
  .photo-popup {
    height: 100% !important;
  }
}

.photo-popup {
  width: 45rem;
  padding: 0, 0.5rem;
}

.link:hover {
  color: royalblue;
}

.contact {
  padding: 3rem 0;
  background-color: lavender;
  margin-top: 1208px;
}

.contact h1 {
  color: rebeccapurple;
  padding: 3rem 0;
}

.contact input,
.contact textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  border: 0;
  border-bottom: 2px solid grey;
  border-radius: 0;
  color: grey;
  outline: none !important;
  padding-left: 0 !important;
}

.contact .container {
  padding: 20px;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 25%;
  background: none;
}

@media (max-width: 768px) {
  .contact .container {
    padding: 0 1rem;
  }
}

.footer {
  background: black;
  color: white;
  padding: 2px;
}

.footer a {
  text-decoration: none;
  color: gray;
}

.footer a:hover {
  text-decoration: none;
  color: rebeccapurple;
  cursor: pointer;
}

.footer-div {
  text-align: auto;
  margin-top: 5px;
}

.footer-div-two {
  margin-top: 7px;
}
